.about-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1400px;
}
.about-intro {
    color: rgb(103, 103, 103);
    font-weight: 600;
}
.about-info {
    flex: 0 1 50%;
    width: 100%;
    padding: 20px 20px;
}

.about-description {
    padding: 25px 20px;
    font-size: 1.3em;
    font-weight: 500 ;
    color: rgb(114, 114, 114);
    margin: 0 auto;
}

.about-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: var(--pure-white);
    border: 2px solid var(--border-color);
}

.image-container {
    background: var(--dark-blue);
    flex: 0 1 50%;
    align-self: center;
    height: 400px;
}

.codepath-image {
    width: 100%;
    height:400px;

}