.contact-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 1400px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

}
.contact-header {
    color: rgb(103, 103, 103);
    font-weight: 600;
}
.contact-section {
    color: rgb(114, 114, 114);
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: space-evenly;
    background: var(--pure-white
    );
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.contact-list {
    list-style-type: none;
}

.contact-info {
    margin: auto 20px;
}

.contact-piece {
    line-height: 4em;
}
.contact-piece span{
   font-size: 1.3em;
   font-weight: 300;
}

.email {
    margin-right: 90px;
}

.phone {
    margin-right: 87px;
}

.address {
    margin-right: 75px;
}

.contact-image {
  flex: 0 1 30%;
}

.happy-img {
    height: 440px;
    transform: translateY(-40px);
}

