@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--content-width);
  margin: 0 auto;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {

}

.search-input {
  color: black;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
  width: 400px;
  padding: 10px;
  border: 3px solid rgb(220, 220, 220);
  background: var(--pure-white)
}

.menu-item {
  background: var(--bright-green);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px 40px;
}
.menu-item::after {
  color: blue;
}

.product-card{
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 375px;
  width: 250px;
  margin-bottom: 10px;
  border: solid 1px var(--border-color);
}

.product-image {
  height: 250px;
  width: 100%;
}

.product-main-info {
  margin-top: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
}
.product-actions button {
  background: var(--pure-white);
  border: var(--pure-white);
}

.product-actions button i{
  cursor: pointer;
  border: 1px solid var(--bright-green);
  color: var(--bright-green);
}

.product-price {
}

