.product-view {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.view-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 0;
    height: 800px;
}

.product-id {
    width: 100%;
}

